#loading{
	background-color:#000000;
  height:100vh;
  width:100vw;
  display: none;
  opacity: 25%;
}

.barberContainer{
  width:84px;
  height:306px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.ball{
  height:22px;
	width:22px;
	margin-left:31px;
	margin-right:31px;
  border-radius:100px;
	background-color:#fefbe3;
}

.endCap{
	width:54px;
	height:15px;
	margin-left:15px;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:5px;
	background-color:#fefbe3;
}

.cap{
	width:84px;
	height:15px;
	background-color:#fefbe3;
}

.barberWrap{
	height:172px;
	width:54px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:15px;
  margin-right:15px;
}

.barber{
	height:172px;
	width:54px;
	position: inherit;
	background:#fefbe3;
	background-color: -webkit-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background: -moz-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background: -o-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background: linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background-size: 27px 27px;
	-webkit-animation: barberpole 1.5s infinite linear;
  animation: barberpole 1.5s infinite linear;
}

@-webkit-keyframes barberpole {
		from {background-position: 0%;}
		to {background-position: 100%;}
}