.telefone{
    display: none;
}

.box {
    border:1px solid #444;
    width:500px;
}

.box input {
    display:inline-block;
    outline:0;
    border:0;
    padding: 5px;
}

.box .button {
    background: #aaa;
    color: #fff;
    font-weight: bold;
    border:none;
    float:right;
    padding: 5px 10px;
}