header{
    background: #111827;
}

#container{
margin-left: 5%;
}













.bloco {
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
  }


  .liss {
    width: 240px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    display: inline-block;
    /* background: #00CC99;   */
  }

  .liss img{
    height: 280px;
    object-fit: cover;
    border-radius: 3%;
  }


#table-card td{
  /* position: relative;
  padding: 0%; */
}

.p2-line2{
  position: relative;
  left: -65%;
}

.p-1 td i{
  left: 80%;
  position: relative;
}

.l-2{
  position: relative;
  left: 60%;
}

.text-card{
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
}

#table{
  font-size: 35%;
}



.line hr{

  right: 3%;
  position: relative;
  margin-top: 2%;

}

#navegation-bar{
  margin: 2%;
  position: relative;
  margin-left: 37%;
}

