section h1{
    font-family: 'Anton', sans-serif;

}

section a{
    font-family: 'Anton', sans-serif;

}

body{
  height: 100vh;
}

#fundo{
  height: 100vh;
}


svg {
  font-family: 'Russo One', sans-serif;
  position: absolute; 
  width: 50%; height: 50%;
  mar
}
svg text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 140px;
}
@keyframes stroke {
  0%   {
    fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); }
  80%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
  100% {
    fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); 
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}









.btn-back:hover{
    width: 50px;
   
    animation: zoom-in-zoom-out 1s ease infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0.9, 0.9);
    }
    50% {
      transform: scale(1.0, 1.0);
    }
    100% {
      transform: scale(1, 1);
    }
  }